<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/detail.css') }}">
    <title>Detail</title>
</head>
<body>

    <!-- NAVBAR -->
    <div class="navbar">
        <div class="menu">
            <span><a class="menu-list" href="/">Teks</a></span>
            <span><a class="menu-list" href="/multiple">Upload</a></span>
        </div>
    </div>

    <!-- MAIN -->
    <div class="outer-wrapper">
        <!-- JOURNEY -->
        <div class="wrapper">
            <div class="journey">
                <span><a href="/multiple"></a> >> <a href="/categorylist?ctg={{data['category']}}">list</a> >> <a href="#">preview</a></span>
            </div>
        </div>

        <!-- DETAIL -->
        <div class="wrapper">
            <div><h1>Kategori: {{data['category']}}</h1></div>
            <div><h3>Preview file: {{data['filename']}}</h3></div>
            <div class="paragraf">
                {% for p in data['text'].splitlines() %}
                    <p>{{ p }}</p>
                {% endfor %}
            </div>

            <!-- PREDICTION -->
            <div class="evaluasi">
                <h3>Probabilitas:</h3>
                <table>
                    <tr>
                        <td>Teknologi</td>
                        <td>: {{data['teknologi']}}</td>
                    </tr>
                    <tr>
                        <td>Health</td>
                        <td>: {{data['health']}}</td>
                    </tr>
                    <tr>
                        <td>Otomotif</td>
                        <td>: {{data['otomotif']}}</td>
                    </tr>
                    <tr>
                        <td>News</td>
                        <td>: {{data['news']}}</td>
                    </tr>
                    <tr>
                        <td>Bola</td>
                        <td>: {{data['bola']}}</td>
                    </tr>
                    <tr>
                        <td>Lifestyle</td>
                        <td>: {{data['lifestyle']}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>