<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Multiple Upload</title>
</head>
<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <div class="menu">
            <span><a class="menu-list" href="/">Teks</a></span>
            <span><a class="menu-list" href="/multiple">Upload</a></span>
        </div>
    </div>
    
    <!-- MAIN -->
    <div class="outer-wrapper">
        <!-- UPLOAD -->
        <section class="section1">
            <h1>KLASIFIKASI BERITA</h1>
            <div class="wrapper">
                <div class="upload">
                    <div class="up-title">
                        <p>Upload artikel berita</p>
                        <hr>
                    </div>
                    <form action="/post/multipleClassify" method="POST" enctype=multipart/form-data id="classifyForm">
                        <input type="file" name="file" multiple>
                        <!-- <button type="submit">Upload</button> -->
                        <button type="submit" id="classifyButton">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        
        <!-- KATEGORI -->
        <section class="section2">
            <h3>Kategori</h3>
            <div class="wrapper-ctg">
                <!-- TEKNOLOGI -->
                <div class="ctg-card">
                    <div class="title-bg teknologi">
                        <div class="ctg-title">Teknologi</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['teknologi'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['teknologi'] == 0 %}
                                    <a href="#" disabled>lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=teknologi">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HEALTH -->
                <div class="ctg-card">
                    <div class="title-bg health">
                        <div class="ctg-title">Health</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['health'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['health'] == 0 %}
                                    <a href="#" disabled>lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=health">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LIFESTYLE -->
                <div class="ctg-card">
                    <div class="title-bg lifestyle">
                        <div class="ctg-title">Lifestyle</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['lifestyle'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['lifestyle'] == 0 %}
                                    <a href="#" disabled>lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=lifestyle">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BOLA -->
                <div class="ctg-card">
                    <div class="title-bg bola">
                        <div class="ctg-title">Bola</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['bola'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['bola'] == 0 %}
                                    <a href="#" disabled>lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=bola">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- OTOMOTIF -->
                <div class="ctg-card">
                    <div class="title-bg otomotif">
                        <div class="ctg-title">Otomotif</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['otomotif'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['otomotif'] == 0: %}
                                    <a href="#">lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=otomotif">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NEWS -->
                <div class="ctg-card">
                    <div class="title-bg news">
                        <div class="ctg-title">News</div>
                    </div>
                    <div class="wrapper-total">
                        <div class="total">
                            <div>
                                <span class="number">{{ count['news'] }}</span>
                                <span>file</span>
                            </div>
                        </div>
                        <div class="detail">
                            <hr>
                            <div class="lihat">
                                {% if count['news'] == 0 %}
                                    <a href="#" disabled>lihat >></a>
                                {% else %}
                                    <a href="/categorylist?ctg=news">lihat >></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DOWNLOAD BUTTON -->
            <div class="download">
                <div class="download-btn">
                    <a href="/downloads/{{download_link}}" id="downloadButton">Download hasil klasifikasi</a>
                    <!-- <form action="/downloads/{{download_link}}">
                        <button id="downloadButton" type="submit">Download hasil klasifikasi</button>
                    </form> -->
                </div>
            </div>
        </section>
    </div>

    <!-- LOADER -->
    <div class="loader-wrapper hidden" id="loader">
        <div>
            <h1 id="loadingText"></h1>
            <div class="loader"></div>
        </div>
    </div>

    <!-- SCRIPT -->
    <script type="text/javascript">
        const classifyForm = document.getElementById("classifyForm");
        const loader = document.getElementById("loader");
        const loadingText = document.getElementById("loadingText")
        classifyForm.addEventListener("submit", () => {
            loader.classList.toggle("hidden");

            setInterval(()  => {
                fetch("{{ url_for('static', filename='number.txt') }}")
                    .then((response) => {
                        return response.text();
                    })
                    .then((text) => {
                        loadingText.innerText = `Classifying Documents ${text}`;
                        // console.log(text);
                    });
            }, 300);
        })
    </script>
</body>
</html>